page-chat {
  .cht-win {
    padding: 11px;
    height: 95%;

    .cht-thrd {
      width: 100%;
      margin-top: 3px;

      .cht-msg {
        text-shadow: 0px 1px 1px white;
        clear: both;
        font-size: 13px;
        max-width: 80%;
        background: white;
        margin-top: 13px;
        border-radius: 4px;
        padding: 4px;
        color: #211f1f;
        border: 1px solid #e8e8e8;
        box-shadow: 0px 1px 1px #dedada;

        .cht-tym {
          color: silver;
          float: right;
          padding: 0px 2px;
          font-size: 11px;
          margin-top: 3px;
          margin-left: 6px;
        }
      }

      .cht-msg.right {
        float: right;
        background: #f0ffe2;
        border: 1px solid #fbfbfb;
      }

      .cht-msg.left {
        float: left;
        text-shadow: 0px 1px 1px #f0ffe2;
        background: white;
        border: 1px solid #fbfbfb;
      }
    }
  }

  //Ethuku intha css nu pathutu delete pannitu commit..
  /*.msg-send-width{
    width:90%;
    float:left;
  .msg-send{
        border: 1px solid silver;
    border-radius: 20px;
    width: 90%;
    margin-right: 4%;
    margin-left: 1%;
    
    padding-bottom: -4%;
    margin-bottom: 2%;
  }
}
.msg-send-icon{
  margin-top: 5%;
    font-size: 200%;
}*/
  ion-footer {
    .action-row {
      .send-cmd {
        ion-textarea textarea {
          border: 1px solid gray;
          border-radius: 8px;
          padding: 7px;
          font-size: 13px;
          font-weight: bolder;
        }

        ion-icon {
          color: gray;
          margin-top: 12px;
          font-size: 27px;
          padding: 3px;
          border-radius: 50%;
        }
      }
    }
  }

}
