<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button secondary (click)="gotoPage('Home')">Go Home</button>
  <ion-card *ngFor=" let data of customerdata">

    <ion-card-header>
      {{data.customer_name}}
    </ion-card-header>

    <ion-card-content>
      <div>{{data.address}}</div>
    </ion-card-content>

  </ion-card>
</ion-content>
