<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      {{menu.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">





  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="setMenuPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav [root]="menu.component" #content swipeBackEnabled="false"></ion-nav>
